header {
  display: flex;
  background-color: #374df5;
  padding: 1rem 0.75rem;
  justify-content: space-between;
  align-items: center;
  color: white;
}

h2 {
  cursor: pointer;
  font-weight: 700;
}