@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

.table-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.table{
  width: 100%;
}
.table thead r{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

